<div class="orders-container">
    <h2>Your Orders</h2>
    <div *ngIf="orders.length > 0; else noOrders">
      <ul class="orders-list">
        <li *ngFor="let order of orders" class="order-item">
          <div class="order-details">
            <h3>Order ID: {{ order.orderId }}</h3>
            <p>{{ order.name }}</p>
            <p>{{ order.price |currency:'INR':'symbol':'1.2-2':'hi'}}</p>
            <p>Quantity: {{ order.quantity }}</p>
            <img [src]="order.image" alt="{{order.name}}" class="order-image">
            <p>Total:{{order.totalPrice |currency:'INR':'symbol':'1.2-2':'hi'}}</p>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noOrders>
      <p>No orders found.</p>
    </ng-template>
  </div>